body {
    font-family: arial;
}

.bingo-global {
    background-image: url("./images/background.jpg");
    background-repeat: repeat;
}

.div-top {
    display: block;
    width: 610px;
    height: 600px;
    margin: auto;
}

.div-game {    
    float: left;    
    width: 367px;
    margin: 10px;
}

.drawn-numbers {
    width: 100%;
    height: 73px;
    margin-bottom: 0px;        
}

.drawn-number {
    display:inline-block;
    position: relative;
    width: 73px;
    height: 100%;      
    text-align: center;      
    font-size: 2em;
}

.ball-image0 {
    position:absolute;   
    left: 0px; 
    width: 73px;
    height: 73px;      
}
.ball-image1 {    
    position:absolute;
    top: 2px;
    left: 2px; 
    width: 69px;
    height: 69px; 
    opacity: 0.8;     
}
.ball-image2 {    
    position:absolute;
    top: 4px;
    left: 4px; 
    width: 65px;
    height: 65px;
    opacity: 0.6;      
}
.ball-image3 {    
    position:absolute;
    top: 6px;
    left: 6px; 
    width: 61px;
    height: 61px;  
    opacity: 0.4;    
}
.ball-image4 {    
    position:absolute;
    top: 8px;
    left: 8px; 
    width: 56px;
    height: 56px;  
    opacity: 0.2;    
}

.div-card-header {
    width: 365px;
    height: 73px;    
}

.header-letter {
    display: inline-block;
    width: 73px;
    height: 73px;  
    line-height: 73px;
    text-align: center;      
}

.img-letter {
    width: 73px;
    height: 73px;  
}

.card {
    width: 375px;
}

.column {
    display: inline-block;
    width: 73px;
}

.cell {
    display: inline-block;
    width: 73px;
    height: 73px;
    line-height: 73px;
    text-align: center;
    background-image: url("./images/tile.png");
    background-size:73px 73px;    
}

.start-button {
    width: 100%;
    height: 3em;
    font-size: 1.2em;
    color: RGB(250, 250, 250);
    background-color: RGB(35, 89, 212);
    border: none;
    border-radius: 4px;
}

/********************************/
/* Winners Board */
.winners-board {
    float: left;
    position: relative;
    top: 73px;
    width: 200px;
    height: 500px;
    margin: 10px;
    background-image: url("./images/notice-board.png");
}

.winners-list {
    position:absolute;
    top: 100px;
    left: 30px;
    width: 140px;
    height: 330px;        
}


.left {
    width: 100%;    
    text-align: center;
    font-size: 1.5em;    
    color: red;
    margin: 5px 0 5px 0;
}

.winner {
    width: 100%;
    height: 1em;
    line-height: 1em;    
    background-color: blanchedalmond;
    margin: 5px 0 5px 0;
    overflow: hidden;
}

.winner span {
    font-size: 1em;
    margin-left: 10px;
}

/*************************************/
/* Competitors Cards */
.competitors-cards {
    display: block;
    width: 60%; 
    margin: auto;
}

.competitor-card {
    display: inline-block;
    margin: 15px;
    table-layout: fixed;    
    border-collapse: collapse;    
    border-spacing: 0px;        
}

.competitor-card caption {
    font-size: 1em;
    height: 1.4em;
    line-height: 1.4em;
    color: RGB(20, 20, 20);
    background-color: RGB(176, 101, 28);
}

.competitor-card td {    
    width: 20px;
    height: 20px;
    color: RGB(60, 60, 60);
    text-align: center;
    font-size: 0.7em;
    border: none;    
}

/*************************/
/* Music Icon */
.music-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 32px;
    height: 32px;
}